#loginForm {
    padding: 5% 5%;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.rounded {
    border-radius: 1rem!important;
}
.form-check{
    margin-bottom: 10px;
}
form .btn{
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}

@media (min-width: 992px) {
    form:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    Form:hover .btn {
    opacity: 1;
    }
}
