{% extends "base.html" %}

{% block styleExtention %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

{% endblock %}

{% block pageContent %}

<div class="container py-4">
    <div class="row">
        <div class="col-1 col-lg-3">
        </div>
        <div class="col-10 col-lg-6">
            <form action="" method="post" id="loginForm" class="bg-light border rounded" novalidate>

                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    {{ form.username(class="form-control", id="inputUsername", placeholder="Enter your username") }}
                    {% for error in form.username.errors %}
                        <small class="form-text text-danger"> [{{ error }}] </small>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    {{ form.password(class="form-control", id="inputPassword", placeholder="Enter your password") }}
                    {% for error in form.password.errors %}
                        <small class="form-text text-danger"> [{{ error }}] </small>
                    {% endfor %}
                </div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <hr>
                    <ul>
                        {% for message in messages %}
                            <p class="text-center text-danger"> {{ message }} </p>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
                <div class="form-check">
                    {{ form.remember_me(class="form-check-input") }} {{ form.remember_me.label }}
                </div>
                {{ form.submit(class="btn btn-block btn-dark text-uppercase") }}

            </form>
        </div>
        <div class="col-1 col-lg-3">
        </div>
    </div>
</div>

{% endblock %}
